<!-- Navbar -->
<link rel="stylesheet" href="static/css/style.css">
<header class="navbar">
  <div class="nav-container">
    <div class="nav-left">
      <a href="{{ url_for('index') }}" class="brand">Lost & Found</a>
    </div>

    <nav class="nav-right">
      {% if session.get('role') == 'admin' %}
        <a href="/admin_home">Dashboard</a>
        <a href="/locations">Locations</a>
             <a href="/claimed_items">Claimed Items</a>
        <a href="/logout" class="btn btn-ghost">Logout</a>

      {% elif session.get('role')=='user' %}
        <a href="user_home">Dashboard</a>
        <a href="/lost_items">Lost Items</a>
      <a href="/found_items">Found Items</a>
       <a href="/claimed_items">Claimed Items</a>
        <a href="/logout" class="btn btn-ghost">Logout</a>

      {% else %}
        <a href="/">Home</a>
        <a href="/adminLogin">Admin Login</a>
        <a href="/userLogin" >User Login</a>
      {% endif %}
    </nav>
  </div>
</header>
